@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$clr-primary: #d50000;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;


// vh vw % px 

.con{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  //display: flex;
  justify-content: space-between;
}
 .log {
//  // display: flex;
//   //justify-content: flex;
//  // align-items:center;
//   //	justify-content:space-between;
//   //	min-height: 10vh;
//   // width:auto;
//   //	padding: 30px;
//   //padding-bottom: 130px;
//   // box-shadow: 0px 2px 8px 0px var(--clr-gray-light);

flex-direction: column;

}
.form {
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  width: 320px;
  // padding: 30px;
  // padding-bottom: 156px;
   align-content: center;
   flex-direction: column;

}

.btn {
  background: #fff;
  font-size: 14px;
  margin-top: 20px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  //display: flex;
  align-items: center;
  //align-content: space-between;
  width: 100%;

  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.02);
    //transform: rotate(2deg);
  }
}

